/* Header Styles */
header {
  .container {
    margin-bottom: 300px;

    img {
      height: 900px;
    }

    .header-content {
      display: flex;
      flex-direction: column;

      /* Logo Styles */
      .logo {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 3px;
        align-items: center;

        &:hover {
          p {
            animation: none;
          }
        }

        p {
          /* Animation for © */
          color: aliceblue;
          font-size: 20px;
          font-weight: 400;
          animation: © 3.6s infinite;
        }

        .anm-logo {
          width: 300px;
          height: 40px;

          /* Animation for logo */
          animation: identifier 3.6s infinite linear;
          transition: 5s ease;

          /* Position Style */
          transform: translateY(0px);
          position: absolute;
          padding-left: 19px;

          /* Other styles... */
          z-index: -2;
          color: whitesmoke;
          font-size: 25px;
          font-weight: 400;

          &:hover {
            animation: none;
            transform: translateY(-38px);
          }
        }

        .top {
          width: 300px;
          height: 30px;

          /* Position Style */
          position: absolute;
          transform: translateY(-32px);

          /* Other styles... */
          background: #c3c3c3;
          z-index: -1;
        }

        .bottom {
          width: 300px;
          height: 30px;

          /* Position Style */
          position: absolute;
          transform: translateY(32px);

          /* Other styles... */
          background: #c3c3c3;
          z-index: -1;
        }
      }

      /* Navbar Styles */
      .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: -20px;
        gap: 27px;
      }

      /* Menu Styles */

      /* setMenu ( Fasle )*/
      .menu2 {
        width: 90px;
        height: 90px;

        /* Position Style */
        position: fixed;
        right: 40px;
        margin-top: 70px;
        transform: translateY(-200px);

        /* Animation Style */
        transition: all 1s ease;
        border-radius: 50%;

        /* Others Style */
        z-index: 100;
        overflow: hidden;

        background: rgba(141, 141, 141, 0.5);
        &:hover {
          .submenu {
            overflow: hidden;
            .line {
              width: 90px;
              height: 90px;
              border-radius: 50%;
              position: fixed;
              transform: translateX(-1435px) translateY(-103px);

              .linebg {
                border-radius: 500%;
                width: 180px;
                height: 180px;
                transform: translateY(0px) translateX(0px);
                transition: all 2.23s ease;
                background: blue;
              }
            }
          }
        }
        .submenu {
          width: 90px;
          height: 90px;
          transform: translateX(0px) translateY(-0px);
          border-radius: 50%;
          background: #000;
          z-index: -1;
          .line {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateY(38px) translateX(0px);
            gap: 10px;
            transition: all 0.23s ease;
            top: none;
            left: none;
            .line1 {
              width: 40px;
              height: 3px;
              transition: all 0.23s ease;

              background: #ffffff;
              transform: rotate(45deg) translateX(3px) translateY(2px);
            }
            .line3 {
              transition: all 0.23s ease;

              width: 40px;
              height: 3px;
              background: #ffffff;
            }
            .line2 {
              transition: all 0.23s ease;

              width: 40px;
              height: 3px;
              background: #ffffff;
              transform: rotate(-45deg) translateX(7px) translateY(-6px);
            }
          }
          .linebg {
            transition: all 0.23s ease;

            border-radius: 50%;
            position: absolute;
            width: 0px;
            height: 0px;
            transform: translateY(0px) translateX(0px);
            z-index: -1;
            background: blue;
          }
          .linebg2 {
            transition: all 0.23s ease;

            border-radius: 50%;
            position: absolute;
            width: 12px;
            height: 120px;
            transform: translateY(0px) translateX(0px);
            z-index: 100;
            background: blue;
          }
          // .submenubg2 {
          //   width: 90px;
          //   height: 90px;
          //   transform: translateX(0px) translateY(-0px);
          //   border-radius: 50%;
          //   background: #a46a6a;
          // }
        }
      }

      /* setMenu ( true )*/
      .menu {
        position: fixed;
        transition: all 1s ease;
        right: 40px;
        margin-top: 70px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        z-index: 100;
        // overflow: h2idden;
        overflow: hidden;

        background: rgba(141, 141, 141, 0.5);
        &:hover {
          .submenu {
            overflow: hidden;
            .line {
              width: 90px;
              height: 90px;
              border-radius: 50%;
              position: fixed;
              transform: translateX(-1435px) translateY(-103px);

              .linebg {
                border-radius: 500%;
                width: 180px;
                height: 180px;
                transform: translateY(0px) translateX(0px);
                transition: background-color 2.23s ease;
                background-color: blue;
              }
            }
          }
        }
        .submenu {
          width: 90px;
          height: 90px;
          transform: translateX(0px) translateY(-0px);
          border-radius: 50%;
          background: #000;
          .line {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateY(38px) translateX(0px);
            gap: 10px;
            transition: all 0.23s ease;
            top: none;
            left: none;
            .line1 {
              width: 40px;
              height: 3px;
              transition: all 0.23s ease;

              background: #ffffff;
              transform: rotate(45deg) translateX(3px) translateY(2px);
            }
            .line3 {
              transition: all 0.23s ease;

              width: 40px;
              height: 3px;
              background: #ffffff;
            }
            .line2 {
              transition: all 0.23s ease;

              width: 40px;
              height: 3px;
              background: #ffffff;
              transform: rotate(-45deg) translateX(7px) translateY(-6px);
            }
          }
          .linebg {
            transition: all 0.23s ease;
            border-radius: 50%;
            position: absolute;
            width: 0px;
            height: 0px;
            transform: translateY(0px) translateX(0px);
            z-index: -1;
            background: blue;
          }
          .submenubg {
            position: fixed;
            transition: all 1s ease;
            right: 0px;
            margin-top: -5px;

            width: 190px;
            height: 190px;
            border-radius: 50%;
            z-index: 100;
            // overflow: h2idden;
            overflow: hidden;
            transform: translateX(50px) translateY(-40px);
            background: rgb(0, 0, 255);
            z-index: -1;
          }
          .submenubg2 {
            position: fixed;
            transition: all 1s ease;
            right: 0px;
            margin-top: -15px;

            width: 90px;
            height: 90px;
            border-radius: 50%;
            z-index: 100;
            // overflow: h2idden;
            overflow: hidden;

            background: transparent;
            z-index: -1;
          }
        }
      }

      /* Menu bg*/
      .menubg {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        .menu-item {
          transition: all 1s ease;

          position: fixed;
          width: 40%;
          height: 110vh;
          background-color: rgba(0, 0, 0);
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 0%;
          z-index: 20;
          transform: translateX(0px);
          overflow: hidden;
          z-index: 1;
          pointer-events: none;
          mix-blend-mode: blending;
        }
      }
      .menubg2 {
        transform: translateX(0px);
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        .menu-item2 {
          transition: all 1.2s ease;
          position: fixed;
          width: 40%;
          height: 100vh;
          transform: translateX(900px);
          background-color: transparent;
          right: 0;
          top: 0px;
          bottom: 0;
          scroll-behavior: smooth scroll;
        }
      }
    }
  }
}

//ANIMATION Sobirov Umarkhon
@keyframes identifier {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-38px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes identifier2 {
  0% {
    transform: translateY(-38px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-38px);
  }
}
//ANIMATION for ©
@keyframes © {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-90deg);
  }
  58% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
